.btn{
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    color: $font-light;
    padding: map-get($map: $rem, $key: s);
    border-radius: 2rem;
    box-shadow: 0 5px 5px darken($color: $bg, $amount: 15);
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: .5s;
    &:hover{
        color: $font-light;
        background: linear-gradient(lighten($color: $color-secondary, $amount: 5), lighten($color: $color-primary, $amount: 5));
        box-shadow: 0 5px 5px darken($color: $bg, $amount: 30);
    }
}

.btn_love{
    width: 3rem;
    height: 3rem;
    @include flex-center;
    background-color: initial;
    border: none;
    font-size: 100%;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &--hidden{
        color: $color-primary;
        font-size: 0;
        transition-property: font-size;
        transition-duration: 1s;
        &:hover{
            font-size: 100%;
        }
    }
}