.card{
    width: 100%;
    cursor: pointer;
    &:not(.card--nav) *{
        overflow: hidden;
    }
    &__content{
        margin: map-get($map: $rem, $key: s);
        border-radius: 1rem;
        box-shadow: 0px 8px 10px darken($color: $bg, $amount: 20); 
        position: relative;
        @include flex-center;
        flex-wrap: wrap;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        &__number{
            position: absolute;
            left:-0.75rem;
            margin: auto;
            width: 1.5rem;
            border-radius: 5rem;
            background-color: $color-primary;
            color: $font-light;
        }
        &__body{
            position: relative;
            flex: 1 1 auto;
            padding: map-get($map: $rem, $key: md);
            display: flex;
            flex-direction: column;
            >*{
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p{
                margin: 0;
            }
            h2{
                margin-bottom: map-get($map: $rem, $key: xs);
            }
            &__love{
                position: absolute;
                right: map-get($map: $rem, $key: md);
            }
        }
        &__img{
            padding: 0;
            display: flex;
            margin-bottom: 0;
            &--i{
                justify-content: center;
                width: 5rem;
                i{
                    line-height: normal;
                }
            }
            img{
                height: 100%;
                min-width: 100%;
                object-fit: cover;
            }
        }
    }    

    //Modification for nav in index.html
    &--nav{
        .card__content{
            background-color: $bg;
            margin-right: 0;
            &__body{
                padding-left: 0;
                padding-right: 0;
            }
            p{
                font-weight: bolder;
                align-self: start;
            }
        }
        &:hover{
            .card__content{
                background-color: lighten($color: $color-primary, $amount: 35);
                color: initial;
                i{
                    color: $color-primary;
                }
            }
        }
    }

    //Modification for content in index.html
    &--index{
        @media screen and (min-width:1200px){
            width: 50%;
        }
        .card__content{
            height: 300px;
            &__img{
                height: 70%;
                width: 100%;
            }
        }
    }
    
    //Modification for content in menu.html
    &--menu{
        animation-duration: 0.5s;
        animation-name: show;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        @for $i from 1 to 15 {
            &:nth-of-type(#{$i}){
                animation-delay: $i*0.25s;
            }
        }
        @keyframes show {
            from {
                margin-top: 10px;
                opacity: 0;
            }
          
            to {
                margin-top: 0;
                opacity: 100%;
            }
        }
        @media screen and (min-width:700px){
            width: 50%;
        }
        @media screen and (min-width:1200px){
            width: 33%;
        }
        .card__content{
            margin-bottom: 0;
            height: 5rem;        
            &__body{
                padding: map-get($map: $rem, $key: s);
                width: 85%;
                transition-property: width;
                transition-duration: .5s;
                &__price{
                    width: 15%;
                    align-self: flex-end;
                    margin-bottom: 1rem;
                    transition-property: width;
                    transition-duration: .5s;
                }
                &__check{
                    width: 0;
                    height: 100%;
                    align-self:center;
                    margin-bottom:0;
                    color: white;
                    background-color: $color-tertiary;
                    transition-property: width;
                    transition-duration: .5s;
                    @include flex-center;
                    i{
                        transform: rotate(0);
                        transition-property: transform;
                        transition-duration: .5s;
                        overflow: visible;
                    }
                }
            }
            &:hover{
                .card__content__body{
                    width: 10px;
                    &__price{
                        width: 15%;
                    }
                    &__check{
                        width: 15%;
                        i{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}