html, body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $font-dark;
    background-color: white;
    >.container {
        padding: 0;
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    @include flex-center;
    flex-wrap: wrap;
    flex-direction: row;
    margin : 0;
    padding: map-get($map: $rem, $key: s);
    height: 100%;
    width: 100%;
}

h1{
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.2;
}

h2, h3{
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.2;
}

p{
    margin-top: 0;
    margin-bottom: map-get($map: $rem, $key: s);
}

a{
    color: currentColor;
    text-decoration: none;
    &:hover{
        color: $color-secondary;
        text-decoration: none;
    }
}

picture{
    line-height: 0;
}