@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.font-title{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 2rem;
}