#Loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $bg;
    picture{
        width: 100%;
        @include flex-center;
        img{
            min-width: 250px;
            width: 30%;
            margin: auto;
        }
    }
    &.container{
        animation-duration: 3s;
        animation-name: loading;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        flex-direction: column;
        @keyframes loading {
            from {
                opacity: 100%;
                visibility: visible;
            }
            
            90%{
                opacity: 100%;
            }

            to {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    //inspired by https://loading.io/css/
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        div {
            position: absolute;
            top: 33px;
            font-size: 1.5rem;
            border-radius: 50%;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            &:nth-child(1) {
                left: -2rem;
                color: $color-primary;
                animation: lds-ellipsis1 0.6s infinite;
            }
            &:nth-child(2) {
                left: -2rem;
                color: $color-secondary;
                animation: lds-ellipsis2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 0;
                color: $color-primary;
                animation: lds-ellipsis2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 2.5rem;
                color: $color-secondary;
                animation: lds-ellipsis3 0.6s infinite;
            }
            @keyframes lds-ellipsis1 {
                0% {
                  transform: scale(0);
                }
                100% {
                  transform: scale(1);
                }
            }
            @keyframes lds-ellipsis3 {
                0% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(0);
                }
            }
            @keyframes lds-ellipsis2 {
                0% {
                  transform: translate(0, 0);
                }
                100% {
                  transform: translate(2rem, 0);
                }
            }
        }
    }  
}

#restaurants{
    background-color: $bg;
    padding: map-get($map: $rem, $key: lg) 0;
    margin-top: map-get($map: $rem, $key: lg);
    &.container{
        justify-content: flex-start;
        @media screen and (min-width:1200px){
            width: 70%;
            margin-top: 0;
        }
    }
    h1{
        width: 100%;
        margin-top: map-get($map: $rem, $key: s);
        margin-left: map-get($map: $rem, $key: s);
    }
    .new{
        position: absolute;
        top: map-get($map: $rem, $key: s);
        right: map-get($map: $rem, $key: s);
        padding: map-get($map: $rem, $key: xs);
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 50);
        margin: 0;
        line-height: initial;
    }
}