#menu{
    >*{
        width: 100%;
    }
    .menu__presentation{
        height: 300px;
        overflow: hidden;
        @media screen and (min-width: 1200px){
            height: 500px;
        }
        img{
            height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
    .menu__dishes{
        padding: map-get($map: $rem, $key: lg) 0;
        margin-top: map-get($map: $rem, $key: menu)*-1;
        border-top-left-radius: map-get($map: $rem, $key: menu);
        border-top-right-radius: map-get($map: $rem, $key: menu);
        padding-top: map-get($map: $rem, $key: menu);
        background-color: $bg;
        @media screen and (min-width: 1200px) {
            margin: map-get($map: $rem, $key: menu)*-1 15% 0 15%;
        }
        &.container{
            justify-content: space-between;
            position: relative;
        }
        >h1, >h2{
            padding: 0 map-get($map: $rem, $key: s);
        }
        
        >h1 {
            margin-right: map-get($map: $rem, $key: menu);
        }

        >h2{
            width: 100%;
            font-weight: normal;  
            padding-top: map-get($map: $rem, $key: xl);
        }
        &__subtitle{
            width: 3rem;
            height: 3px;
            background-color: $color-tertiary;
            margin: map-get($map: $rem, $key: xs) 90% 0 map-get($map: $rem, $key: s);
        }
        .btn_love{
            position: absolute;
            top: map-get($map: $rem, $key: menu);
            right: map-get($map: $rem, $key: md);
        }
        .btn{
            width: 40%;
            margin: map-get($map: $rem, $key: menu) 30%;
        }
    }
}