//Graphical Charter
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//Color used
$bg: #f6f6f6;
$bg-footer: #353535;
$font-dark: black;
$font-light: white;

//For padding and margin
$rem:(
    xs: .5rem,
    s: 1rem,
    md: 1.5rem,
    lg: 2rem,
    xl: 3rem,
    menu: 4rem
);