footer{
    background-color: $bg-footer;
    color: $font-light;
    &.container{
        align-items: start;
        padding: map-get($map: $rem, $key: md) 0;
        flex-direction: column;
    }
    picture img{   
        filter: invert(1);
        height: 1.5rem;
    }
    a{
        font-style: normal;
        margin-left: map-get($map: $rem, $key: s);
        margin-bottom: map-get($map: $rem, $key: xs);
        i{
            margin-right: map-get($map: $rem, $key: s);
            width: 1rem;
        }
    }
}