nav{
    text-align: center;
    &.container{
        padding-top: 0;
        @media screen and (min-width:1200px){
            width: 30%;
            float: left;
        }
    }
    >.nav__local{
        background-color: darken($color: $bg, $amount: 10);
        padding: map-get($map: $rem, $key: xs);
        font-weight: bolder;
        border-top: solid 5px darken($color: $bg, $amount: 15);
        width: 100%;
        i{
            margin-right: map-get($map: $rem, $key: s);
        }
    }
    >.nav__search{
        >*:not(button){
            width: 100%;
        }
        background-color: $bg;
        padding: map-get($map: $rem, $key: md);
        margin-bottom: map-get($map: $rem, $key: md);
        h1{
            margin-bottom: map-get($map: $rem, $key: xs)
        }
    }
    >.nav__steps{
        >h1{
            align-self: flex-start;
        }
    }
}